.footer-container-main{
    height: 40%;
    background-color: #2A2730;
    font-size: 11pt;
    color: white;
    text-align: left;

    a{
        padding-right: 10px;
        padding-bottom: 10px;
        padding-top: 10px;
        display: inline-block;
        font-weight: bolder;
        color: white;
        cursor: pointer;
    }
}

.footer-last{
    text-align: right;
}

.footer-container-main a:hover{
    color: lightgray;
}

.footer-standard-margin{
    margin-top: 10px;
}

.footer-padding-left-right{
     padding-left: 15px;
     padding-right: 15px;
}
