.footer-container-main{
    height: @footer-height;
    background-color: @footer-background-color;
    color: white;
    text-align: left;
    clear: both;

    a{
        padding-right: 30px;
        padding-bottom: 10px;
        padding-top: 10px;
        display: inline-block;
        font-weight: bolder;
        color: white;
        cursor: pointer;
    }

    .footer-column{
        margin-top: 10px;
        padding-right: 15px;
    }

    .footer-last{
        text-align: right;
    }
    
    .fb-like{
        margin-right: 20px;
    }

}

.footer-container-main a:hover{
    color: lightgray;
}

@media (max-width:@XS){
   .footer-container-main{
       a{
            padding-right: 5px;
       }
   }
}



