@LG:1200px;
@MD: 992px;
@SM: 768px;
@XS: 480px;
@header-height: 30%;
@footer-height: 30%;
@blog-entry-blog-entry-margin-left:5px; // Important!
@side-bar-content-initial-height:60vh;
@blog-default-margin-bottom:10px;
@blog-entry-default-padding:10px;
@header-back-ground:"../images/blogg.jpg";
@side-bar-content-background-color:white;
@footer-background-color:#2A2730;
@border-basic-a:2px solid #563D7C;
@border-basic-b:3px solid #e5e5e5;
@show-bootstrap-grids-borders:3px none blue; //solid to show, none to hide
@basic-font-size-vmin: 2.2vmin;
@side-bar-menu-height-width: 20px;