html,body{
    height: 100%;
}

.hide{
    visibility: hidden;
}

.show{
    visibility: visible;
}

.center-vertically{
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.round-corners-med{
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -khtml-border-radius: 5px;
}

/******************************************************************************/

.header{
    height: @header-height;
    h1{
        margin: 0;
        padding-top: 20px;
        padding-left: 20px;
        color: white;
        font-family: 'Gabriela', serif;
        font-size: 7vmin;
        font-weight: bold;
    }
}


.header-background{
    background: url(@header-back-ground) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


.sidebar-content{
    min-height: @side-bar-content-initial-height;
    background-color: @side-bar-content-background-color;

    .sidebar{
        position: relative;

        padding-top: 30px;
        padding-bottom: 20px;

        .sidebar-menu{
            display: inline-block;
            position: absolute;
            right: 5px;
            top: 5px;
        }

        .sidebar-entry{
            margin: 0px 0px 5px 0px;
            padding: 3px;
            width: 90%;
            border:@border-basic-a;
            min-height: 3vh;

            .index{
                display: none;
            }
        }

        .sidebar-entry:hover{
            cursor: pointer;
        }
    }


    .content{
        min-height: @side-bar-content-initial-height;
        padding-top: 30px;

        .blog-entry{
            margin: 0px 0px 20px 20px;
            padding: 15px;
            width: 95%;
            border:@border-basic-a;
            min-height: 30vh;

            .blog-entry-title{
                width: 90%;
                height: 5vh;
                font-weight: bold;
                background-color: #00ffff;
                margin-bottom: @blog-default-margin-bottom;
                padding: @blog-entry-default-padding;
            }

            img{
                display: block;
                margin-bottom: @blog-default-margin-bottom;
            }

            .blog-entry-content{
                width: 90%;
                min-height: 15vh;
                margin-bottom:@blog-default-margin-bottom;
                background-color: #bababa;
                padding: @blog-entry-default-padding;
            }

            .blog-entry-foot{
                width: 50%;
                height: 5vh;
                background-color: #00ffff;
                padding: @blog-entry-default-padding;
            }
        }
    }
}












